<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Template</title>
</head>
<body>

    <!-- Template -->
    <div id="template">
        
        <div class="section-1">
            <!-- Side Bar -->
            <section id="side-bar">
                <div class="sidebar container">
                    <div class="sidebar-box"></div>
                </div>
            </section>
            <!-- End Side Bar -->
        </div>
        
        <div class="section-2">
            <!-- Header section -->
            <section id="header" style="margin-right: 20px;">
                <div class="header container" >

                </div>
            </section>
            <!-- End Header section -->

            <!-- Items -->
            <section id="items">
                <div class="items container">

                    <!-- first line -->
                    <div class="first-items">
                        <div class="first-item" style="
                        flex: 1 1 30%
                        "></div>
                        <div class="first-item" style="
                        flex: 1 1 50%
                        "></div>
                    </div>
                    <!-- end of first line -->

                    <!-- second line -->
                    <div class="second-items">
                        <div class="second-second container" style="flex: 1 1 40%">
                            <div class="second-item" style="
                            flex: 1 1 25%;
                            "></div>
                            <div class="second-item" style="
                            flex: 1 1 25%;
                            "></div>
                            <div class="second-item" style="
                            flex: 0 1 100%;
                            "></div>
                        </div>
                        <div class="second-second container" style="flex: 1 1 60%">
                            <div class="second-item big" 
                            ></div>
                        </div>
                    </div>
                    <!-- end of second line -->
                    
                    <!-- third line -->
                    <div class="third-items">
                        <div class="third-item" style="
                        flex: 1 1 50%
                        "></div>
                        <div class="third-item"style="
                        flex: 1 1 30%
                        "></div>
                    </div>
                    <!-- end of third line -->

                    <!-- 4th line -->
                    <div class="fourth-items">
                        <div class="fourth-item"></div>
                        <div class="fourth-item"></div>
                        <div class="fourth-item"></div>
                    </div>
                    <!-- end of 4th line -->
                </div>
            </section>
            <!-- End Items -->
        </div>
        
    </div>
    <!-- End Template -->
    
</body>
</html>